.app {
  max-width: 1440px;
}

.section {
  width: 100%;
  height: auto;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(255, 255, 255, 0)  !important;
  color: aliceblue !important; 
}

.nav-link,
.navbar-brand {
  color: aliceblue !important;
}

.hero__section {
  background-color: aqua;
  width: 100%;
}

.jumbotron-hero {
  background-image: url('http://localhost:8080/assets/images/hero-background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.about__section {
  background-color: rgb(255, 0, 217);
  width: 100%;
}

.slider__section {
  background-color: rgb(0, 255, 110);
  width: 100%;
}

.cards__section {
  background-color: rgb(246, 255, 0);
}

.feedback__section {
  background-color: rgb(255, 72, 0);
}
